<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.UserMapper">
    <sql id="baseColumn">
        id,
        username,
        email,
        phone,
        question,
        answer,
        role,
        create_time
    </sql>

    <resultMap id="baseResultMap" type="com.mall.pojo.User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectByUsername" resultMap="baseResultMap">
        select
        <include refid="baseColumn"/>
        from mall_user as a
        where username = #{username}
    </select>

    <select id="selectByUsernameAndPassword" resultMap="baseResultMap">
        select
        <include refid="baseColumn"/>
        from mall_user as a
        where username = #{username} and password = #{password}
    </select>


</mapper>