<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.mapper.UserMapper">
    <sql id="baseColumn">
        id,
        username,
        email,
        phone,
        question,
        answer,
        role,
        create_time
    </sql>

    <resultMap id="baseResultMap" type="com.mall.dao.pojo.User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="subjectIsExist" resultType="java.lang.Integer">
        select
        count(1)
        from mall_user
        where username = #{username}
    </select>

    <select id="selectByUsernameAndPassword" resultMap="baseResultMap">
        select
        <include refid="baseColumn"/>
        from mall_user as a
        where username = #{username} and password = #{password}
    </select>

    <insert id="save">
        <selectKey order="AFTER" keyProperty="id" resultType="java.lang.Integer">
            select last_insert_id()
        </selectKey>
        insert into mall_user(
        username,
        nickname,
        password
        )values(
        #{username},
        #{nickname},
        #{password}
        )
    </insert>

</mapper>