<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.mapper.VerifyCodeMapper">
    <sql id="baseColumn">
        id,
        type,
        template,
        create_time
    </sql>

    <sql id="selectByTypeColumn">
        id,
        template
    </sql>

    <resultMap id="baseResultMap" type="com.mall.sender.verifyCode.pojo.VerifyCode">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="template" column="template" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectByType" resultMap="baseResultMap">
        select <include refid="selectByTypeColumn"/>
        from mall_verify_code
        where type=#{type}
    </select>

</mapper>