<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.mapper.VerifyCodeRecordMapper">
    <sql id="baseColumn">
        id,
        type,
        target,
        code,
        count,
        is_checked,
        expire_time
    </sql>

    <sql id="saveColumn">
          create_time,
          update_time,
          count,
          target,
          code,
          type,
          expire_time
    </sql>

    <resultMap id="baseResultMap" type="com.mall.sender.verifyCode.pojo.VerifyCodeRecord">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="verifyCodeType" column="type" jdbcType="INTEGER"/>
        <result property="target" column="target" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="count" column="count" jdbcType="INTEGER"/>
        <result property="isChecked" column="is_checked" jdbcType="TINYINT"/>
        <result property="expireTime" column="expire_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--根据类型查询当天的一条-->
    <select id="selectTodayLastRecord" resultMap="baseResultMap">
        select <include refid="baseColumn"/>
        from mall_verify_code_record
        where target = #{target} and type = #{verifyCodeType} and create_time >= #{sendTime}
    </select>
    <!--统一插入-->
    <insert id="save">
        <selectKey order="AFTER" keyProperty="id" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into mall_verify_code_record (
          create_time,
          update_time,
          target,
          code,
          type,
          send_time,
          expire_time
         )values(
          #{createTime},
          #{updateTime},
          #{target},
          #{code},
          #{verifyCodeType},
          #{sendTime},
          #{expireTime}
         )
    </insert>
    <!--再次发送更新同一条-->
    <update id="update">
         update mall_verify_code_record
         set
         count = #{count},code = #{code},send_time = #{sendTime},expire_time = #{expireTime}
         where id = #{id}
    </update>
    <!--更新已检查-->
    <update id="updateForIsChecked">
          update mall_verify_code_record
          set is_checked = #{isChecked} where id = #{id}
    </update>
</mapper>