<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!--配置realm-->
        <bean id="usernamePasswordCaptchaRealm" class="com.mall.security.realm.UsernamePasswordCaptchaRealm">
            <property name="credentialsMatcher">
                <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                    <!--配置加密方式-->
                    <property name="hashAlgorithmName" value="SHA-256"/>
                    <property name="hashIterations" value=""
                </bean>
            </property>
        </bean>

</beans>